<div class="facet">
	<a href="#" class="root{{#if values}} has-dropdown{{/if}}">
		<span data-facet-root="{{label}}">{{label}}</span>
		{{#if values}}
			<i class="icon-chevron-up"></i>
			<i class="icon-chevron-down"></i>
		{{/if}}
	</a>
	{{#if values}}
	<ul>
		{{#each values}}
			<li><a href="#" class="faceter" data-facet="{{this}}" data-filter="{{../label}}={{this}}">{{this}}</a></li>
		{{/each}}
	</ul>
	{{/if}}
</div>
